<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:cache="http://www.springframework.org/schema/cache" 
	xmlns:gfe="http://www.springframework.org/schema/gemfire"
	xmlns:gfe-data="http://www.springframework.org/schema/data/gemfire"
	xmlns:p="http://www.springframework.org/schema/p" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/gemfire http://www.springframework.org/schema/gemfire/spring-gemfire.xsd
		http://www.springframework.org/schema/data/gemfire http://www.springframework.org/schema/data/gemfire/spring-data-gemfire.xsd
">

	<gfe:pool id="mypool" subscription-enabled="true">
		<gfe:locator host="localhost" port="11235"/>
	</gfe:pool>

	<gfe:client-cache id="booksCache" pool-name="mypool" />

	<gfe-data:function-executions base-package="io.pivotal.fe.cachemanager"/>

	<!-- <gfe:client-region id="books" cache-ref="booksCache" shortcut="PROXY" pool-name="mypool"/> -->

	<!-- turn on declarative caching -->
	<cache:annotation-driven />

	<!-- declare GemFire Cache Manager -->
	<bean id="cacheManager" class="io.pivotal.fe.cachemanager.GemFireClientCacheManager" p:cache-ref="booksCache"
				p:createRemoteRegions="true"/>

</beans>
